@import "tailwindcss";

@theme {
  --color-brand: #0ea5e9; /* Sky 500 - Light Blue */
  --color-brand-600: #0284c7; /* Sky 600 */
  --color-brand-50: #f0f9ff; /* Sky 50 */
  --color-brand-100: #e0f2fe; /* Sky 100 */
}
